#mainContainer {
  width: 90%;
  margin: auto;
  font-family: 'Ubuntu Condensed';
  background: #ACC4C6;
}

#mainContainer h2 {
  font-size: 30px;
  margin: 20px;
}

#mainContainer p {
  font-size: 20px;
  color: white;
  margin: 25px;
}